<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134987917448-v1740sniipi9bru7v2ahpv6982o1p933.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134987917448-v1740sniipi9bru7v2ahpv6982o1p933</string>
	<key>API_KEY</key>
	<string>AIzaSyCpXZa4sesJVZyLkwz-QAgAvYjB55EP7t4</string>
	<key>GCM_SENDER_ID</key>
	<string>134987917448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hnguyen.gandom4261</string>
	<key>PROJECT_ID</key>
	<string>gandom4261</string>
	<key>STORAGE_BUCKET</key>
	<string>gandom4261.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134987917448:ios:51d1266bd8fef12ef0573d</string>
</dict>
</plist>